.verMas {
    font-family: Open Sans;
    background: #000;
    border-radius: 0;
    outline: none;
    width: 100%;
    border: none;
    box-shadow: none;
}

.badge.badge-pill {
    background: #999;
    color: #fff;
    padding: 4px 15px;
}