<app-loading *ngIf="loading"></app-loading>

<div class="card-columns">
    <div *ngFor="let producto of product" class="card">
        <img [src]="producto.images[0].src" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{producto.name}}</h5>
            <p class="card-text"><small class="badge badge-pill badge-warning">{{producto.price | currency:'CLP' }}</small></p>
            <button type="button" (click)="getProduct(value)" class="btn btn-primary btn-block" #value>Ver mas</button>
        </div>
    </div>
</div>