<div id="producto">
    <div class="container d-flex flex-wrap-reverse">
        <div class="col-md-5 col-12">
            <p>{{woo.producto.price | currency:'CLP ' }}</p>
            <form (ngSubmit)="addProductCar(addCar)" #forma="ngForm">
                <mat-form-field *ngIf="woo.producto.attributes.length !== 0">
                    <mat-label>Colores</mat-label>
                    <mat-select [(ngModel)]="addCar.color" name="color" required>
                        <mat-option *ngFor="let color of woo.producto.attributes[0].options" [value]="color">
                            {{color}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="car d-flex">
                    <input type="number" class="text-center numberCar" minlength="1" [(ngModel)]="addCar.cantidad" name="cantidad" required>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-primary btn-block addCar">Añadir al carrito</button>
                </div>
            </form>
            <p *ngIf="woo.producto.categories.length !== 0">Categorías:
                <span *ngFor="let cat of woo.producto.categories"><strong>{{cat.name}} </strong></span>
            </p>
            <p *ngIf="woo.producto.tags.length !== 0">Etiquetas:
                <span *ngFor="let tag of woo.producto.tags"><strong>{{tag.name}} </strong></span>
            </p>
            <a [routerLink]="['/productos']" class="volver">volver</a>
        </div>
        <div class="col-md-7 col-12">
            <div class="imagenesProductos">
                <div>
                    <img id="fotoProducto" [src]="woo.producto.images[0].src" class="d-block w-100" alt="...">
                </div>
                <div class="miniatura" *ngIf="woo.producto.images.length > 1">
                    <div class="minProducto" [ngClass]="foto.name" *ngFor="let foto of woo.producto.images; let i = index" (click)="transitionColor(foto.src, foto.name)" (mouseover)="transitionColor(foto.src, foto.name)">
                        <img [src]="foto.src">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div [innerHTML]="woo.producto.description" class="innerHTML col-12"></div>
</div>