.imgProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgProducto img {
    max-width: 200px;
}

.volver {
    background: #383838;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: auto;
    height: 30px;
    transition: 0.3s;
    font-family: Open Sans;
    text-decoration: none;
}

.volver:hover {
    background: #1f1f1f;
    cursor: pointer;
}

p img {
    width: 100%;
    height: auto;
}

#producto {
    margin-bottom: 20px;
}

@media(max-width: 767px) {
    #producto {
        flex-wrap: wrap-reverse !important;
    }
}

img {
    max-width: 100%;
}

.imagenesProductos {
    display: flex;
    align-items: center;
}

.miniatura {
    display: block;
    margin-left: 10px;
}

.miniatura .minProducto {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 4px 0;
    border: 1px solid #000;
    border-radius: 3px;
    transition: 0.3s;
}

.miniatura .minProducto:hover {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.minProductoActivo {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.addCar {
    font-family: Open Sans;
    background: #000;
    border-radius: 0;
    outline: none;
    width: 100%;
    max-width: 200px;
    border: none;
}

.numberCar {
    width: 70px;
    margin-right: 10px;
    border: 1px solid;
}